
div(id="header")
    .container-fluid
        .row-fluid
            .span7
                h1
                    span(id="albert") albert
                    span(id="vo") vo
            .span5
                ul.nav
                    li 
                        a(id="work-nav", class="active scrolly", href="#main" ) work
                    li 
                        a(id="skillset-nav", class="scrolly", href="#skillset") skillset
                    li 
                        a(id="resume-nav", class="scrolly", href="#resume") resume
                    li 
                        a(id="hire-me-nav", class="scrolly", href="#hire-me") hire me

<a href="https://github.com/albertvo"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>

div(id="main", class="container-fluid section")
    div( id="hero", class="row-fluid extra-margin ")
        .span6 
            p.big I make awesome digital stuff.
            p I'm a full stack engineer looking for my next big challenge.
            p 
                a( class="learn-more scrolly", href="#skillset") learn more <i class="icon-caret-right"></i> 
        .span6
               
    
        
    div( id="skillset", class="row-fluid extra-margin section")
        .span6
            p.big I've learned a thing or two.
            p I have professional experience in many areas
            
    div( class="row-fluid extra-margin row-skill")
        .span4
            h3 <i class="icon-table icon-large"></i> Data
            ul(class="icons")
                li <i class="icon-ok"></i> Data Modeling 
                li <i class="icon-ok"></i> T-SQL SQL Server, MySQL
                li <i class="icon-ok"></i> XML
                li <i class="icon-ok"></i> JSON
        .span4
            h3 <i class="icon-cogs icon-large"></i> Backend Programming
            ul
                li <i class="icon-ok"></i> REST API 
                li <i class="icon-ok"></i> C# ASP.NET MVC (VB.NET)
                li <i class="icon-ok"></i> LINQ to SQL, Entity Framework
                li <i class="icon-ok"></i> Ruby on Rails
                li <i class="icon-ok"></i> Node.js
                li <i class="icon-ok"></i> PHP
        .span4
            h3 <i class="icon-user icon-large"></i> Frontend Programming
            ul
                li <i class="icon-ok"></i> Javascript
                li <i class="icon-ok"></i> AJAX
                li <i class="icon-ok"></i> jQuery
                li <i class="icon-ok"></i> Knockout.js
    div( class="row-fluid extra-margin  row-skill")
        .span4
            h3 <i class="icon-tag icon-large"></i> Markup and Design
            ul
                li <i class="icon-ok"></i> HTML
                li <i class="icon-ok"></i> CSS
        .span4
            h3 <i class="icon-tint icon-large"></i> Graphics/Photography
            ul 
                li <i class="icon-ok"></i> Photoshop
                li <i class="icon-ok"></i> Illustrator
                li <i class="icon-ok"></i> Lightroom
                li <i class="icon-ok"></i> Aperture
        .span4
            h3 <i class="icon-rss icon-large"></i> Mobile and Multimedia
            ul
                li <i class="icon-ok"></i> Flash/ActionScript
                li <i class="icon-ok"></i> CoronaSDK (Lua)
                li <i class="icon-ok"></i> Unity3D (programming)
    div( class="row-fluid extra-margin row-skill ")
        .span4
            h3 <i class="icon-screenshot icon-large"></i> Behavior Based Marketing
            ul
                li <i class="icon-ok"></i> Automated Remarketing
                li <i class="icon-ok"></i> ExactTarget (Email, SMS)
                li <i class="icon-ok"></i> MailChimp
                li <i class="icon-ok"></i> Coremetrics LiveMail
        .span4
            h3 <i class="icon-cloud icon-large"></i> Cloud Platforms
            ul
                li <i class="icon-ok"></i> Windows Azure
                li <i class="icon-ok"></i> Amazon AWS
                li Heroku
        .span4
            h3 <i class="icon-hdd icon-large"></i> Operating Systems
            ul
                li <i class="icon-ok"></i> Windows
                li <i class="icon-ok"></i> Mac OSX
                
                
        
     









    div( id="resume", class="row-fluid extra-margin section")
        .span6
            p.big I've learned a thing or two.
            p I have professional experience in many areas
            
    div( class="row-fluid extra-margin row-skill")
        .span4
            h3 <i class="icon-table icon-large"></i> Data
            ul(class="icons")
                li <i class="icon-ok"></i> Data Modeling 
                li <i class="icon-ok"></i> T-SQL SQL Server, MySQL
                li <i class="icon-ok"></i> XML
                li <i class="icon-ok"></i> JSON
        .span4
            h3 <i class="icon-cogs icon-large"></i> Backend Programming
            ul
                li <i class="icon-ok"></i> REST API 
                li <i class="icon-ok"></i> C# ASP.NET MVC (VB.NET)
                li <i class="icon-ok"></i> LINQ to SQL, Entity Framework
                li <i class="icon-ok"></i> Ruby on Rails
                li <i class="icon-ok"></i> Node.js
                li <i class="icon-ok"></i> PHP
        .span4
            h3 <i class="icon-user icon-large"></i> Frontend Programming
            ul
                li <i class="icon-ok"></i> Javascript
                li <i class="icon-ok"></i> AJAX
                li <i class="icon-ok"></i> jQuery
                li <i class="icon-ok"></i> Knockout.js
    div( class="row-fluid extra-margin  row-skill")
        .span4
            h3 <i class="icon-tag icon-large"></i> Markup and Design
            ul
                li <i class="icon-ok"></i> HTML
                li <i class="icon-ok"></i> CSS
        .span4
            h3 <i class="icon-tint icon-large"></i> Graphics/Photography
            ul 
                li <i class="icon-ok"></i> Photoshop
                li <i class="icon-ok"></i> Illustrator
                li <i class="icon-ok"></i> Lightroom
                li <i class="icon-ok"></i> Aperture
        .span4
            h3 <i class="icon-rss icon-large"></i> Mobile and Multimedia
            ul
                li <i class="icon-ok"></i> Flash/ActionScript
                li <i class="icon-ok"></i> CoronaSDK (Lua)
                li <i class="icon-ok"></i> Unity3D (programming)
    div( class="row-fluid extra-margin row-skill ")
        .span4
            h3 <i class="icon-screenshot icon-large"></i> Behavior Based Marketing
            ul
                li <i class="icon-ok"></i> Automated Remarketing
                li <i class="icon-ok"></i> ExactTarget (Email, SMS)
                li <i class="icon-ok"></i> MailChimp
                li <i class="icon-ok"></i> Coremetrics LiveMail
        .span4
            h3 <i class="icon-cloud icon-large"></i> Cloud Platforms
            ul
                li <i class="icon-ok"></i> Windows Azure
                li <i class="icon-ok"></i> Amazon AWS
                li Heroku
        .span4
            h3 <i class="icon-hdd icon-large"></i> Operating Systems
            ul
                li <i class="icon-ok"></i> Windows
                li <i class="icon-ok"></i> Mac OSX
        
      

        
#footer
     
