<a href="https://github.com/albertvo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>


#header
    .container-fluid
        .row-fluid
            .span7
                h1
                    span(id="albert") albert
                    span(id="vo") vo
            .span5
                ul
                    li 
                        a(href="/" ) work
                    li 
                        a(href="/") skillset
                    li 
                        a(href="/") experience
                    li 
                        a(href="/", class="hire-me") hire me

.container-fluid
    div( id="hero", class="row-fluid extra-margin ")
        .span6 
            p.big I make awesome digital stuff.
            p I'm a full stack engineer looking for my next big challenge.
            p 
                a( class="learn-more", href="/") learn more > 
        .span6
               
    
        
    div( class="row-fluid extra-margin ")
        .span6
            p.big I've learned a thing or two.
            p I have professional experience in many areas
            
    div( class="row-fluid extra-margin ")
        .span4
            h3 Data
            ul
                li Data Modeling
                li T-SQL SQL Server, MySQL
                li XML
                li JSON
        .span4
            h3 Backend Programming
            ul
                li REST API 
                li C# ASP.NET MVC (VB.NET)
                li LINQ to SQL, Entity Framework
                li Ruby on Rails
                li Node.js
                li PHP
        .span4
            h3 Front End Programming
            ul
                li Javascript
                li AJAX
                li jQuery
                li Knockout.js
    div( class="row-fluid extra-margin ")
        .span4
            h3 Markup and Design
            ul
                li HTML
                li CSS
        .span4
            h3 Graphics/Photography
            ul 
                li Photoshop
                li Illustrator
                li Lightroom
                li Aperture
        .span4
            h3 Mobile and Multimedia
            ul
                li Flash/ActionScript
                li CoronaSDK (Lua)
                li Unity3D (programming)
    div( class="row-fluid extra-margin ")
        .span4
            h3 Behavior Based Marketing
            ul
                li Automated Remarketing
                li ExactTarget (Email, SMS)
                li MailChimp
                li Coremetrics LiveMail
        .span4
            h3 Cloud Platforms
            ul
                li Windows Azure
                li Amazon AWS
                li Heroku
        .span4
            h3 Operating Systems
            ul
                li Windows
                li Mac OSX
                
                
        
     
        
      

        
#footer
     

     