!!! 5
html
  head
    
    title= title
    meta(name="description", content="Albert Vo is a full stack web developer with 10 years of professional experience.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:500italic,700italic')
    link(rel='stylesheet', href='/stylesheets/styles.css')

    script(type="text/javascript", src="http://code.jquery.com/jquery-latest.js" )
    script(type="text.javascript", src="http://code.jquery.com/ui/1.9.1/jquery-ui.js")
    script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js" )
    script(type="text/javascript", src="/javascripts/scrollspy.js" )
    script(type="text/javascript", src="/javascripts/knockout-2.2.0.js" )
    script(type="text/javascript", src="/javascripts/albertvo.js" )
    
  body!= body


