!!! 5
html
  head
    title= title
    meta(name="description", content="My Parse App")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:500italic,700italic')

    script(type="text/javascript", src="http://code.jquery.com/jquery-latest.js" )
    script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js" )
    script(type="text/javascript", src="http://www.parsecdn.com/js/parse-1.1.6.min.js")
    
  body!= body


