// SaSS
$black: #060607
$dark_purple: #252631
$white: #ffffff
$bg_color: #0a1016
$preheader_color: #464c81
$highlight_color: #464c81 
$subdued_link_color: #464c81
$cta_color: #d2c502
$cta_highlight_color: #d2c502
$display_color: #D8D8D8
$p_color: #898989
$margin: 16px

body
    font-family: 'Ubuntu', 'Verdana', sans-serif
    background: $bg_color
    color: $p_color
    padding: 70px 0 0 0
    
a
    text-decoration: none

a:hover
    text-decoration: none
    color: $white

.container-fluid 
    margin-right: auto
    margin-left: auto
    max-width: 940px 

h1
    padding: 5px 0 5px 25px
    background: url('/images/logo.png') no-repeat left bottom
    line-height: 20px

h3
    font-family: 'Ubuntu', 'Verdana', sans-serif
    font-style: italic
    font-weight: bold
    font-size: 20px
    line-height: 30px
    color: $display_color
    
h3 i
    margin: 0 10px 0 0 

.row-skill
    border-top: solid 1px $dark_purple
    padding: 20px 0 10px 0

#albert
    font-family: 'Ubuntu', 'Verdana', sans-serif
    font-style: italic
    font-weight: bold
    font-size: 18px
    line-height: 20px
    color: $display_color
#vo
    font-family: 'Ubuntu',  'Verdana', sans-serif
    font-style: italic
    font-weight: bold
    font-size: 18px
    line-height: 20px
    color: $cta_color
    
#hero
    background: $bg_color url('/images/hero_city.png') no-repeat center bottom
    height: 340px

.learn-more
    font-family: 'Ubuntu','Verdana', sans-serif
    font-style: italic
    font-weight: bold
    font-size: 20px
    line-height: 25px
    -webkit-transition: color 0.3s ease
    -moz-transition: color 0.3s ease
    -o-transition: color 0.3s ease
    transition: color 0.3s ease
    color: $cta_color

.big
    font-family: 'Ubuntu','Verdana', sans-serif
    font-style: italic
    font-weight: bold
    font-size: 40px
    line-height: 55px
    color: $display_color

.extra-margin
    margin: 15px 0 15px 0

.little
    
    background: $white
    opacity: 0.1
    -webkit-transition: height 0.5s ease
    -moz-transition: height 0.5s ease
    -o-transition: height 0.5s ease
    transition: height 0.5s ease
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
    -o-border-radius: 3px
    border-radius: 3px


    
#pre-header
    background: $preheader_color
    height: 10px
    border-bottom: solid 1px $bg_color

#header
    top: 0
    background: $dark_purple
    text-align: middle
    font-family: 'Ubuntu', 'Verdana', sans-serif
    font-style: italic
    font-weight: bold
    position: fixed
    width: 100%
    ul
        list-style-type: none
        margin: 15px 0 0 0
        padding: 0
        overflow: hidden
        
        li
            float: left
            margin: 0 10px 0 0
            
            a
                display: block
                color: $display_color
                padding: 5px 8px 5px 8px
                font-weight: bold
                -webkit-transition: color 0.3s ease
                -moz-transition: color 0.3s ease
                -o-transition: color 0.3s ease
                transition: color 0.3s ease
                -moz-border-radius: 3px
                -webkit-border-radius: 3px
                -o-border-radius: 3px
                border-radius: 3px

            a:hover
                color: $cta_color
                text-decoration: none
                background: none
                
            
            a.active
                background-color: $cta_color
                color: $black
                -webkit-transition: background-color 0.3s ease
                -moz-transition: background-color 0.3s ease
                -o-transition: background-color 0.3s ease
                transition: background-color 0.3s ease
                
            a.active:hover
                background-color: $white
                
                
        li.active
            color: red        



    

#footer
    min-height: 185px
    background: $black
    margin: 40px 0 0 0

a#first-name
    color: $cta_color
    -webkit-transition: color 0.3s ease
    -moz-transition: color 0.3s ease
    -o-transition: color 0.3s ease
    transition: color 0.3s ease

a#first-name:hover
    color: $white

ul
    list-style: none
    margin: 0 0 0 5px

